/*Universal Styling*/
body{}

.wrap{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*Navigation Section Styling*/
.nav{
  padding: 10px 0 5px 0;
  background-color: grey;
}
.navBar{text-align: center;}
.navItem{
  display: inline;
  padding: 0px 15px 5px; 5px;
}
.navItem a{
  text-decoration: none;
  color: silver;
}
.navItem a:hover{color: black;}

/*Header Section Styling*/
.header p{
  text-align: center;
  padding: 3px 0 0 0;
}
h1{
  font-size: 50px;
  text-align: center;
  padding: 8px 0 0 0;
}

/*About Section Styling*/
.about{
  text-align: center;
  flex: 1;
}
.me{
  padding: 15px 0 15px 0;
  width: 35%;
  height: 35%;
}
.bio{padding-bottom: 1em;}

/*Portfolio Section Styling*/
.portfolio{flex: 1;}
.work{
  background: red;
  border-radius: 50%;
}

/*Footer Section Styling*/
.footer{
  text-align: center;
  background-color: grey;
  padding-top: 1em;
}

/*Contact Section Styling*/
.contact{flex: 1;}
