html, body {
  padding: 0;
  margin: 0;
}

.slider {
  width: 100%;
}

.slick-slide {
  width: 100%;
}

.slider img {
  object-fit: contain;
  width: 100%;
}
/**********************************************/
body{}

wrap{}

header{text-align: center;}

.title{
    font-size: 50px;
    padding-top: 10px;
}

.title a{
    text-decoration: none;
    color: black;
}

.title a:hover{
    text-decoration: none;
    color: orange;
}

.type-text{color: orange;}

.nav{}

.navBar{}

.navItem{
    display: inline;
    padding: 2em;
}

.navItem a{text-decoration: none;}

.navItem a:hover{text-decoration: none;}

.content{text-align: center;}

footer{text-align: center;}