body {}

.container {
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid black;
}

.container h3 {
  font-family: Lobster;
  text-shadow: 1px 1px 4px black;
}

h1 {
  font-family: Lobster;
  text-shadow: 1px 1px 4px black;
  color: #BCD2E2;
}

.jumbo {
  border: 1px solid black;
  margin-top: 40px;
  max-height: 900px;
  background-color: rgba(220, 220, 220, 0.8);
  text-align: center;
}

.row {
  margin-top: auto;
  padding: 30px 0;
  color: white;
  text-shadow: 1px 1px 4px #000000;
}

.col-md-4 {
  text-align: center;
}

.row h3 {
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 4px #000000;
}

.row p {
  font-size: 20px;
}

button {
  margin-top: 20px;
  color: black;
  padding: 5px;
  text-shadow: 0;
}

col-xs-12 {
  text-align: center;
}
